.container {
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;
    min-height: calc(100vh - 3.5rem);
    padding: 2.5rem;
}

.primaryButton {
    background-color: #164755;
    border: none;
    font-weight: bold;
    border-radius: 0.25rem;
    width: 100%;
    color: #fff;
    cursor: pointer;
}