.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.primaryTitle {
    font-size: 1.5rem;
    text-align: center;
}

.primaryTitle, .errorMessage {
    margin-bottom: 1.5rem;
}

.errorMessage {
    color: #f00;
    text-align: center;
}

.primaryButton {
    background-color: #164755;
    border: none;
    font-weight: bold;
    border-radius: 0.25rem;
    color: #fff;
    cursor: pointer;
    padding-block: 0.75rem;
    padding-inline: 1rem;
    width: 100%;
}

.paragraph, .primaryButton {
    font-size: 0.875rem;
}